html, body {
    margin: 0;
}
.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    height: 600px;
    border: white solid 10px;
}
.gameTitle {
    margin: 10px; text-align: center;
}
.innerLeft {
    width: 200px;
}
.innerMiddle {
    border-left: white 3px solid;
    border-right: white 3px solid;
}
.innerRight {
    height: 600px;
    display: flex;
    flex-direction: column;
}
.gameStatus {
    height: 250px;
    text-align: center;
    margin: 20px;
}
#game_status_me {
    font-size: 20px; 
    margin: 10px;
    color: lightblue;
}
#game_status_other {
    font-size: 20px; 
    margin: 10px;
    color: lightgreen;
}
.myScore {
    height: 100px;
}
.miniMapTitle {
    border-top: white 3px solid;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.form {
    margin: 0 auto;
}
#controlList {
    font-size: 30px;
}
#controlKeys {
    width: 30px; font-size: 30px; margin-left: 10px;
}
.controlSpacing {
    margin: 40px;
}
.sameRow {
    display: flex; flex-direction: row;
}
.selectArrow {
    font-size: 20px;
}
.arrowButton {
    margin: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white;
    height: 30px;
    background: green;
    border: 0.1em solid darkgrey;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
.arrowButton:hover {
    background: limegreen;
}

.arrowButton:active {
    color: lightgrey;
    background: black
}

.saveButton {
    margin-left: 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: black;
    height: 50px;
    background: goldenrod;
    border: 0.1em solid lightgrey;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
.saveButton:hover {
    background: gold;
}

.saveButton:active {
    color: goldenrod;
    background: black
}


#game {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    /* background-image: url("https://thumbs.gfycat.com/RingedSpicyKodiakbear-size_restricted.gif"); */
    font-size: 40px;
    overflow: hidden;
    position: absolute;
}
.MainTitle {
    font-weight: bold;
}
/* #canvas-main {
    background-color: white;
    border-color: white;
    border-width: 5px;
    border-style: solid;
} */
#canvas-world { 
    background-image: url("assets/outer_space.jpg");
    background-size: 500px 300px;
    border-top: white 3px solid;
} 

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}


ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {

    margin: 0.3em 0;
}

ul.menu li button {
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 0.4em;
    color: white;
    width: 10em;
    height: 3em;
    background: green;
    border: 0.1em solid darkgrey;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: limegreen;
}

ul.menu li button:active {
    color: lightgrey;
    background: black
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
#scores {
    text-align: center;
}
#game div p {
    font-size: 0.5em;
}
#help p {
    text-align: center;
}
#about p {
    text-align: center;
}
#game-over p {
    text-align: center;
}
